<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bumzhch</title>
    <link rel="import" href="quotes.html">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Цитатник бомжей</h1>
    <form action="/post" method="get">
       <button type="submit" id="post" class="btn">Запостить цитату </button>
    </form>
    <script>
        var doc = document.querySelector('link[rel="import"]').import;
        // Grab DOM from doc.html's document.
        var text = doc.querySelector('#quotes');
        document.body.appendChild(text.cloneNode(true));
    </script>
</body>
</html>