<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Цитатник бомжей</h1>
    <form action="/post" method="get">
       <button type="submit" id="post">Запостить цитату </button>
    </form>
    <h1>"Дайте мне рюмку стопки" - Василиса Цзы. Исскуство алкоголизма</h1>
    <h1>"Дайте мне либо рюмку водки, либо Леню Голышева" - Василиса Цзы. Исскуство алкоголизма</h1>
    <h1>"Егор, дай сисю" - Василиса Цзы. Исскуство алкоголизма</h1>
    <h1>"Я сейчас на китай город уеду" - Василиса Цзы. Исскуство алкоголизма</h1>
</body>
</html>